<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.blog.repository.BlogRepository">

    <!-- 리턴타입이 entity등의 클래스로 구성된 경우 패키지명부터 적어준다 -->
    <select id="findAll" resultType="com.spring.blog.entity.Blog">
        SELECT
            blog_id as blogId,
            writer,
            blog_title as blogTitle,
            blog_content as blogContent,
            published_at as publishedAt,
            updated_at as updatedAt,
            blog_count as blogCount
        FROM
            blog
        ORDER BY blog_id DESC
    </select>

    <!-- 위 select 태그를 참조해 방금 만든 findByID를 연결해주시고, 리턴자료도 매칭해주세요. -->
    <select id="findById" resultType="com.spring.blog.entity.Blog">
        SELECT
            blog_id as blogId,
            writer,
            blog_title as blogTitle,
            blog_content as blogContent,
            published_at as publishedAt,
            updated_at as updatedAt,
            blog_count as blogCount
        FROM
            blog
        WHERE
            blog_id = #{blogId}
    </select>

    <!-- insert 태그를 이용해서 사전 세팅만 해주세요 -->
    <insert id="save" parameterType="com.spring.blog.entity.Blog">
        INSERT INTO
            blog (writer, blog_title, blog_content)
        VALUES
            (#{writer}, #{blogTitle}, #{blogContent})
    </insert>

    <!-- delete 태그를 이용해서 deleteById 메서드를 구현해주세요 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM
                blog
            WHERE
                blog_id = #{blogId}
    </delete>

    <!-- 수정로직을 아래에 쿼리문까지 작성해주세요,
        바꿔줘야 하는 항목은 제목, 본문, 업데이트시각 -->
    <update id="update" parameterType="com.spring.blog.entity.Blog">
        UPDATE
            blog
        SET
            blog_title = #{blogTitle},
            blog_content = #{blogContent},
            updated_at = now()
        WHERE
        blog_id = #{blogId}
    </update>


    <!-- 테스트를 위한 쿼리문들 -->
    <update id="createBlogTable">
        CREATE TABLE IF NOT EXISTS blog(
            blog_id int auto_increment primary key,
            writer varchar(16) not null,
            blog_title varchar(200) not null,
            blog_content varchar(4000) not null,
            published_at datetime default now(),
            updated_at datetime default now(),
            blog_count int default 0
        )
    </update>
    <update id="dropBlogTable">
        DROP TABLE blog
    </update>

    <insert id="insertTestData">
        INSERT INTO blog VALUES
        (null, '1번유저', '1번제목', '1번본문', now(), now(), null),
        (null, '2번유저', '2번제목', '2번본문', now(), now(), null),
        (null, '3번유저', '3번제목', '3번본문', now(), now(), null)
    </insert>
</mapper>